
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{% block title %} Inicio {% endblock %}</h1>
    <form action="buscar" method="POST">
        <div class="col-md-3 mb-3">
            <label for="buscar" class="form-label">Nome do artista</label>
            <input name="nome" id="buscar" class="form-control" type="text" placeholder="Buscar artista">
        <img src="{{url}}" alt="">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success col-md-2">Buscar</button>
        </div>
    
        {% for artistas in posts %}
            <div class='post'>
                <p>ID: {{ artistas['id_transaction'] }}</p>
                <h2>Artista: {{ artistas['artist'] }}</h2>
                <p>Musicas: {{ artistas['songs'] }}</p>
            </div>
        {% endfor %}
       
    </form>
</div>
{% endblock %}



   