
{% extends 'base.html' %}

{% block content %}
<style>
    .centro{
    align-items: center;
    justify-content: center;
    display: flex;
    }
</style>
<div class="container"  >
   
    <form  method="POST" >
        <div class="row centro">
            <div class="col-sm col-md-8" style="margin-bottom: 10px ;">
                <h1 class="centro"> Cantor: {{artista}} </h1>
                <input name="nome" id="buscar" class="form-control centro" type="text" placeholder="Buscar artista">
            </div>
            <div class="centro">
                <button type="submit" class="btn btn-success centro col-md-6">Buscar</button>
            </div>
        {% if list_songs %}
            {% for artistas in list_songs %}
                <div class='post col-md-8'>
                    <p>{{ artistas}}</p>
                </div>
            {% endfor %}
        {% else %}
            <div class='post col-md-8'>
                <p>Faça a busca de um artista</p>
            </div>
        {% endif %}
    </div>
    </form>
</div>
{% endblock %}



   